<div class="content saved-wrapper">

    <div class="saved">
        <h4 class="saved-head">Сохранённые конкурентные листы</h4>
        <div class="saved-box"></div>
        <div class="saved-box"></div>
    </div>

</div>