<div class="saved-item" data-id="{{itemObj.id}}">
    <p class="saved-item__name">{{itemObj.title}}</p>
    <div class="saved-item__container">
        <div class="saved-item__date">{{itemObj.date}}</div>
        <button class="button saved-item__button" data-state="delete">Удалить</button>
    </div>
</div>