<div class="content header-wrapper">
    <ul class="menu">
        <li class="menu-item"><a href="/#/" class="menu-item__link {{#if isMainPage}}active{{/if}}">главная</a></li>
        <li class="menu-item"><a href="/#/saved" class="menu-item__link {{#if isSavedFormsPage}}active{{/if}}">сохраненное</a></li>
    </ul>

    <div class="title">
        <h1 class="title-main">Конкурентный лист</h1>
        <span class="title-description">для бизнеса</span>
    </div>
</div>