<div class="column-row row-product" data-product="{{ind}}" >
    <div class="column-row__elem">
        <p class="column-element__elem-text product-number">{{ind}}</p>
    </div>
    <div class="column-row__elem">
        <textarea placeholder="Введите товар" rows="5" cols="15" maxlength="65" class="form__elem-value product-name"></textarea>
    </div>
    <div class="column-row__elem">
        <input class="form__elem-value product-measurement" type="text" maxlength="5" placeholder="шт">
    </div>
    <div class="column-row__elem">
        <input class="form__elem-value product-quantity" type="text" maxlength="5" placeholder="1.00">
    </div>
</div>