<div class="save-window">
    <textarea placeholder="Введите название ..." rows="3" cols="30" maxlength="35" class="save-window__area error-style"></textarea>
    <button class="save-window__button button-cancel"> отменить</button>
</div>