    <div class="column-row delete-elem row-delete ">
        <button class="delete-elem__button">x удалить</button>
    </div>
    <div class="column-row row-head">
        <textarea rows="2" cols="18" maxlength="30" placeholder="Поставщик" class="form__elem-value product__supplier-name"></textarea>
    </div>

