$logoBlue:rgb(19, 55, 133);
$grey: rgb(153, 153, 153);
$blueForLines: rgb(58, 74, 107);
$border: 1px solid $blueForLines;
$backColor: rgb(241, 247, 253);
$red: rgb(214, 14, 14);
$backRed: rgb(255, 235, 239);
$backBlueForTable: rgb(224, 239, 255);
$redShadow:0 0 5px rgb(252, 141, 163);
$blueForButtons: rgb(14, 54, 141);